@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;


}

p{
	font-weight: 300;
	color: #111;
}

/*Scroll Bar */
::-webkit-scrollbar
{
	width: 12px;
}
::-webkit-scrollbar-thumb
{
	background: linear-gradient(transparent,#ff0157);
	border-radius: 	6px;
}
::-webkit-scrollbar-thumb:hover
{
	background: linear-gradient(transparent,#00c6ff);
}


/* Home css */
.banner{

	position: relative;
	width:100%;
	min-height: 100vh;
	display: flex;
	justify-content: left;
	align-items:center;
	background: url(home_bg.jpg);
	background-size: cover;
}

.banner .content{
	
	max-width: 900px;
	text-align: center;
}
.banner .content h5
{
	text-indent: -90px;
	font-size: 3.8em;
	color:#fff;
}
.banner .content h6
{
	text-indent: -100px;
	font-size: 1em;
	color: #fff;
}
.btn{
	font-size: 1em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	margin-right: 70px;
	float:none;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}
.btn:hover{
	letter-spacing: 6px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;

}

header.sticky
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5); 
}

header .logo
{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;

}
header.sticky .logo{
	color: #111;
}
header .logo span{
	color: #ff0157;
}
header .navigation
{
	position: relative;
	display: flex;
}
header .navigation li
{
	list-style: none;
	margin-left: 30px;
}
header .navigation li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}
header.sticky .navigation li a {
	color: #111;
}
header .navigation li a:hover{
	color: #ff0157;
}


/* Placement CSS */

.placements {
	padding: -20px;
	/*background-color: #67809f;*/
	background-image: 	url(placement_bg.png);
	background-size:cover;
	
}
.company h2{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
}
.placements .company .img-area p{
	font-family:sans-serif;
}

.img-area{
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.single-img{
	padding: 0 20px 20px;
}
img:hover{
	opacity: .5;
	transition: .9s;

}


/* Placed timeline CSS */


.placed {
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url(placed_bg.png);
	background-size: cover;
}

 
.placed h1 {
	 	  
	color:#fff;
	font-weight:700;
	margin-top:35px;	 
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
}

h1 span{
	color: deepskyblue;
}

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
       	 
	background: deepskyblue; 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#fff;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

/* Testimonials CSS */


.testimonials
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2196f3;
	overflow: hidden;

}

.swiper-container{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
}

.swiper-slide{
        background-position: center;
        background-size: cover;
        width: 320px;
        box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        filter: blur(4px);
        background: #d1ebff;
        border-radius:10px;
}
.swiper-slide-active
{
	filter: blur(0px);
	background: #fff;
}
.testimonialBox
{
	position: relative;
	width: 100%;
	padding: 40px;
	padding-top: 90px;
	color: #999;
}
.testimonialBox .quote
{
	position: absolute;
	top: 20px;
	right: 30px;
	opacity: 0.2;
}
.testimonialBox .details
{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.testimonialBox .details .imgBx
{
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.testimonialBox .details .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.testimonialBox .details h3
{
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #2196f3;
	line-height: 1.1em;
}
.testimonialBox .details h3 span
{
	font-size: 12px;
	color: #666;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
 {
	background-image: none;
}


/* Admission CSS */


.admissions{
	height: 100vh;
    justify-content: center;
    align-items: center;	
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
  max-width: 1500px;
  max-height: 83vh;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 5 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}

form .user-details .input-box select:invalid{
        color: gray;
    }
form .user-details .input-box option{
        color: black;
    }
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.interactions{
	background-color: #81cfe0;
	padding-top:150px;
}


.nxt-btn{
	font-size: .8em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 40px;
	float:none;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	border-radius: 	12px;
}
.nxt-btn:hover{
	letter-spacing: 6px;
}

.interactions .videos{
	display: inline-block;
	padding: 3px;
}

section{
	padding: 100px;
}